<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-logo">
                    <img src="/image/footer_logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-3">
                <h5>Контакты</h5>
                <div class="footer-contacts">
                    <a href="tel:+77079430112">
                        <i class="fa fa-phone"></i>
                        <span>+7(707)943-01-12</span>
                    </a>
                    <a href="tel:+77781117177">
                        <i class="fa fa-phone"></i>
                        <span>+7(778)111-71-77</span>
                    </a>
                    <a href="mailto:info@onparts.kz">
                        <i class="fa fa-envelope"></i>
                        <span>info@onparts.kz</span>
                    </a>
                    <a>
                        <i class="fa fa-location-arrow"></i>
                        <span>РК, г.Шымкент, ул. Рыскулова 80/8</span>
                    </a>
                </div>
            </div>
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <!--<h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>-->
      </div>
    </div>
    <hr>
        <div class="footer-sign">
            <p class="owner-sign">{{ powered }}</p>
            <p class="dev-sign">{{ developed }}</p>
        </div>
    </div>
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>